{% extends "layout.html"%}
{% block title %}Germany{% endblock %}
	
	{%block body%}

<!-- <h1>Welcome To German scholarships</h1>
 --> 
 <p>This page contain students who got scholarships in Germany</p>
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../static/khaled.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{data.name}}</h5>
    <p class="card-text">{{data.desc}}</p>
    <a href="/khaled" class="btn btn-primary">More info</a>
  </div>
</div>
 
 
{%endblock%}
