{% extends "layout.html" %}
{% block title %}Loign {% endblock %}
<<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 {% block body %}
{% if failed %}
	<div class="w3-container w3-red">
    <p>Wrong email or password , try again or <a href="/register">click here to register</a></p>
  </div>
{% endif %}
	{% if message %}
	<div class="w3-container w3-red">
    <p>Please login first,if you are not registered <a href="/register">click here to register</a></p>
  </div>
{% endif %} 
<form action="/login" method="post">
<input type="text" name="username" placeholder="username"></input>
<input type="password" name="password" placeholder="Password">
<input type="submit" value="submit"> 
</form>
{% endblock %}